@import "tailwindcss";

:root {
  font-family: "IBM Plex Sans", "Aptos", sans-serif;
  color: #1c1917;
  background: #fafaf9;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}
